body {
  display: flex;
  flex-direction: column;
}
main {
  display: flex;
  flex-direction: row;
  flex: auto;
}
article {
  flex: 2;
  overflow-y: auto;
  color: red;
  background: lightblue;
  border-radius: 30px;
  padding-right: 3cm;
  border-width: 20cm;
}
h1 {
  color: yellow;
}

aside {
  overflow-y: auto;
  flex: 1;
}
